<div class="container">
  <div class="row">
    <div class="col">
      <h1>Airdnd</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatibus aliquam cumque itaque non odit, praesentium autem velit impedit. Laudantium incidunt optio harum ab quos recusandae inventore at corrupti maxime.
      </p>
    </div>
  </div>
</div>
